<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_bg_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,69}</string>
                <key>spriteSourceSize</key>
                <string>{230,69}</string>
                <key>textureRect</key>
                <string>{{1081,3},{230,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bg_pass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,55}</string>
                <key>spriteSourceSize</key>
                <string>{266,55}</string>
                <key>textureRect</key>
                <string>{{131,137},{266,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bg_pass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1442,181},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bg_rukou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,89}</string>
                <key>spriteSourceSize</key>
                <string>{87,89}</string>
                <key>textureRect</key>
                <string>{{1073,142},{87,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_bg_shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,101}</string>
                <key>spriteSourceSize</key>
                <string>{14,101}</string>
                <key>textureRect</key>
                <string>{{259,222},{14,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_bg_shang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,124}</string>
                <key>spriteSourceSize</key>
                <string>{14,124}</string>
                <key>textureRect</key>
                <string>{{131,222},{14,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_bg_xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,138}</string>
                <key>spriteSourceSize</key>
                <string>{14,138}</string>
                <key>textureRect</key>
                <string>{{791,239},{14,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_btn_anniu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{406,132}</string>
                <key>spriteSourceSize</key>
                <string>{410,150}</string>
                <key>textureRect</key>
                <string>{{467,3},{406,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1392,166},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{977,137},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_event_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{667,139},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1467,3},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_friend_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{401,139},{114,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_btn_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{791,139},{96,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_btn_home_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,112}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{527,139},{136,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_huodong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1166,142},{74,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_btn_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{363,196},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_btn_jieduan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,130}</string>
                <key>textureRect</key>
                <string>{{877,3},{200,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,130}</string>
                <key>spriteSourceSize</key>
                <string>{460,130}</string>
                <key>textureRect</key>
                <string>{{3,3},{460,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_qiandao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1281,88},{76,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_btn_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1260,168},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_shezhi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1326,168},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{879,137},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_shop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{124,116}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{3,137},{124,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1081,76},{96,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_vip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1181,76},{96,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_youjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1373,88},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_img_baoxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,67}</string>
                <key>spriteSourceSize</key>
                <string>{86,67}</string>
                <key>textureRect</key>
                <string>{{1461,91},{86,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_img_biaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,81}</string>
                <key>spriteSourceSize</key>
                <string>{148,81}</string>
                <key>textureRect</key>
                <string>{{1315,3},{148,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_img_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,16}</string>
                <key>spriteSourceSize</key>
                <string>{65,16}</string>
                <key>textureRect</key>
                <string>{{977,227},{65,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_img_fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,24}</string>
                <key>spriteSourceSize</key>
                <string>{1,24}</string>
                <key>textureRect</key>
                <string>{{131,250},{1,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_img_fengexian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,104}</string>
                <key>spriteSourceSize</key>
                <string>{6,104}</string>
                <key>textureRect</key>
                <string>{{131,240},{6,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_img_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,16}</string>
                <key>spriteSourceSize</key>
                <string>{72,16}</string>
                <key>textureRect</key>
                <string>{{1166,220},{72,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_img_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,16}</string>
                <key>spriteSourceSize</key>
                <string>{59,16}</string>
                <key>textureRect</key>
                <string>{{1242,234},{59,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_img_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,22}</string>
                <key>spriteSourceSize</key>
                <string>{228,22}</string>
                <key>textureRect</key>
                <string>{{131,196},{228,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_img_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,16}</string>
                <key>spriteSourceSize</key>
                <string>{55,16}</string>
                <key>textureRect</key>
                <string>{{1305,234},{55,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_img_xingxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{1491,181},{42,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1548,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:710dc258106ca968ae4f1490a367faa2:4c1ea7bde7e1f39793da9f3bc5a4a5f3:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
