<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,289}</string>
                <key>spriteSourceSize</key>
                <string>{683,289}</string>
                <key>textureRect</key>
                <string>{{1,1},{683,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,124}</string>
                <key>spriteSourceSize</key>
                <string>{683,124}</string>
                <key>textureRect</key>
                <string>{{1,293},{683,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_bg_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,289}</string>
                <key>spriteSourceSize</key>
                <string>{683,289}</string>
                <key>textureRect</key>
                <string>{{687,1},{683,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_but_buy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{184,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{1,420},{184,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_but_buy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{184,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{1,420},{184,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,1}</string>
                <key>spriteSize</key>
                <string>{216,112}</string>
                <key>spriteSourceSize</key>
                <string>{352,244}</string>
                <key>textureRect</key>
                <string>{{1728,1},{216,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-10}</string>
                <key>spriteSize</key>
                <string>{266,130}</string>
                <key>spriteSourceSize</key>
                <string>{352,244}</string>
                <key>textureRect</key>
                <string>{{1620,244},{266,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{294,178}</string>
                <key>spriteSourceSize</key>
                <string>{352,244}</string>
                <key>textureRect</key>
                <string>{{1323,293},{294,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{306,196}</string>
                <key>spriteSourceSize</key>
                <string>{352,244}</string>
                <key>textureRect</key>
                <string>{{1014,293},{306,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{324,208}</string>
                <key>spriteSourceSize</key>
                <string>{352,244}</string>
                <key>textureRect</key>
                <string>{{687,293},{324,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,240}</string>
                <key>spriteSourceSize</key>
                <string>{352,244}</string>
                <key>textureRect</key>
                <string>{{1373,1},{352,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_tag_best.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,142}</string>
                <key>textureRect</key>
                <string>{{1753,220},{136,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_tag_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,96}</string>
                <key>textureRect</key>
                <string>{{1892,359},{100,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_tag_popular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,142}</string>
                <key>textureRect</key>
                <string>{{1843,1},{136,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_tag_sale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,142}</string>
                <key>textureRect</key>
                <string>{{1753,359},{136,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1989,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:NULL:NULL$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
