<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailysign_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,848}</string>
                <key>spriteSourceSize</key>
                <string>{684,848}</string>
                <key>textureRect</key>
                <string>{{1,1},{684,848}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailysign_bg_day1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,220}</string>
                <key>spriteSourceSize</key>
                <string>{205,220}</string>
                <key>textureRect</key>
                <string>{{852,227},{205,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailysign_bg_day2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,215}</string>
                <key>spriteSourceSize</key>
                <string>{202,215}</string>
                <key>textureRect</key>
                <string>{{1473,450},{202,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailysign_bg_day3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,220}</string>
                <key>spriteSourceSize</key>
                <string>{204,220}</string>
                <key>textureRect</key>
                <string>{{852,450},{204,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailysign_bg_day4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,220}</string>
                <key>spriteSourceSize</key>
                <string>{204,220}</string>
                <key>textureRect</key>
                <string>{{1060,227},{204,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailysign_bg_day5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,220}</string>
                <key>spriteSourceSize</key>
                <string>{204,220}</string>
                <key>textureRect</key>
                <string>{{1059,450},{204,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailysign_bg_day6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,220}</string>
                <key>spriteSourceSize</key>
                <string>{204,220}</string>
                <key>textureRect</key>
                <string>{{1267,227},{204,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailysign_bg_day7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,223}</string>
                <key>spriteSourceSize</key>
                <string>{626,223}</string>
                <key>textureRect</key>
                <string>{{852,1},{626,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailysign_bg_finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{204,218}</string>
                <key>spriteSourceSize</key>
                <string>{204,220}</string>
                <key>textureRect</key>
                <string>{{1266,450},{204,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailysign_finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{1481,1},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>dailysign.png</string>
            <key>size</key>
            <string>{1676,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:NULL:NULL:NULL$</string>
            <key>textureFileName</key>
            <string>dailysign.png</string>
        </dict>
    </dict>
</plist>
